@model IEnumerable<GilbertMusicStore.ViewModels.GuitarViewModel>
@{
	ViewBag.Title = "Index";
}
<div class="navMenu">
	<h2>Выберите тип гитар:</h2>
	<ul id="navUl">
		<li>Электрическая</li>
		<li>Электроакустика</li>
	</ul>
</div>
<section class="tableView">
	<img src="../../Content/Images/HomeImage.png" alt="nema"/>
</section>
