@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "Error";
}
<h2>Ошибка</h2>
<p>
	Произошла ошибка.
	По <a href="javascript:history.go(-1)">этой</a> ссылке вы можете перейти на предыдущую страницу и попробовать еще раз.
</p>
