/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
	background-color: #C4CF69;
	font-size: .85em;
	font-family: Georgia, Georgia, serif;
	margin: 0;
	padding: 0;
	color: #524B21;
}

a:link {
	color: #524B21;
	text-decoration: underline;
}

a:visited {
	color: #C4CF69;
}

a:hover {
	color: #524B21;
	text-decoration: none;
}

a:active {
	color: #524B21;
}

p, ul {
	margin-bottom: 20px;
	line-height: 1.6em;
}

header,
footer,
nav,
section {
	display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	color: #524B21;
}

h1 {
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 {
	padding: 0 0 10px 0;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5, h6 {
	font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

header, #header {
	position: relative;
	margin-bottom: 0px;
	color: #000;
	padding: 0;
}

header h1, #header h1 {
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	color: #524B21;
	border: none;
	line-height: 2em;
	font-size: 32px !important;
	text-shadow: 1px 1px 2px #111;
}

#main {
	padding: 30px 30px 15px 30px;
	background-color: #F9FF82;
	height:100%;
	position: relative;
	border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
	background-color: #F9FF82;
	color: #999;
	padding: 10px 0;
	text-align: right;
	line-height: normal;
	margin: 0 0 30px 0;
	font-size: .9em;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
}

/*Table section
----------------------------------------------------------*/

.tableView
{
	background-color: inherit;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
	display:block;
	width: 60%;
	border-left: 5px groove #F55600;
}

/* LEFT TAB MENU   
----------------------------------------------------------*/

section#navMenu
{
	width: 19%;
	margin-right: 5%;
	overflow:hidden;
	float:left;
}

.testClass 
{
	height:100%;
	overflow:auto;
}

.navUl
{
	text-align: left;
}

.navUl li 
{
	
	list-style:none;
}

.navUl li a 
{
	padding: 5px 5px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2em;
	background-color: #F9FF82;
	color: #524B21;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}

.navUl li a:hover {
	background-color: #999646;
	text-decoration: none;
}

.navUl li a:active {
	background-color: #F9FF82;
	text-decoration: none;
}

.catalogTable
{
	width:100%;
	border-width: 0px;
	
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
}

.catalogTable th {
	border-width: 0px;
	font-weight:bold;
	text-align:center;
	background-color: #524B21;
	color:#F9FF82;
}
.catalogTable td {
	border-width: 1px;
	border-color: #524B21;
}

.navMenuH1
{
	font-size:1.2em;
	font-weight:bolder;
}

.navMenuH2
{
	font-size:1.1em;
	font-weight:bold;
	font-style:italic;
}
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
	border-bottom: 1px #F55600 solid;
	padding: 0 0 2px;
	position: relative;
	margin: 0;
	text-align: right;
}

ul#menu li {
	display: inline;
	list-style: none;
}

ul#menu li#greeting {
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: #524B21;
}

ul#menu li a {
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	background-color: #F9FF82;
	color: #524B21;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
	background-color: #999646;
	text-decoration: none;
}

ul#menu li a:active {
	background-color: #F9FF82;
	text-decoration: none;
}

ul#menu li.selected a {
	background-color: #fff;
	color: #000;
}

/* News
----------------------------------------------------------*/
.newsTableContainer
{
	
}

.newsTable 
{
	border-width:0px;
}

.newsTable tbody
{
	border-width:0px;
}

.newsTable tr
{
}

.newsTable td
{
	border-width:0px;
}

.newsTable th
{
	border-width: 0px;
}

.news
{
	padding: 8px 8px;
	margin: 0;
	position: relative;
	background-color: white;
}

.newsTitle
{
	
}

.newsDate
{
	margin: 0 0 0 0;
	padding: 0;
	position: relative;
	font-size: 9px;
	color: #666;
	background-color:inherit;
}

.newsContent
{
	height: 48px;
	overflow: hidden;
	font-size: 10px;
	margin-top: 5px;
	background-color:inherit;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

input[type="text"],
input[type="password"]
{
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 1.2em;
	color: #444;
	width: 200px;
}

select
{
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 1.2em;
	color: #444;
}

input[type="submit"]
{
	font-size: 1.2em;
	padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
	width:100%;
	border: solid 1px #e8eef4;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
}

table td {
	border: solid 1px #e8eef4;
	border-color: #524B21;
}

table th {
	border: solid 1px #e8eef4;
	font-weight:bold;
	text-align:center;
	background-color: #524B21;
	color:#F9FF82;
}

table tr 
{
	border-width:1px;
	border-color:Black;
}


/* MISC  
----------------------------------------------------------*/
.clear {
	clear: both;
}

.error {
	color: Red;
}

nav, 
#menucontainer {
	margin-top: 40px;
}

div#title {
	display: block;
	float: left;
	text-align: left;
}

#logindisplay {
	font-size: 1.1em;
	display: block;
	text-align: right;
	margin: 10px;
	color: White;
}

#logindisplay a:link {
	color: white;
	text-decoration: underline;
}

#logindisplay a:visited {
	color: white;
	text-decoration: underline;
}

#logindisplay a:hover {
	color: white;
	text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
	margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
	margin: 0.5em 0 0 0;
}

.text-box {
	width: 30em;
}

.text-box.multi-line {
	height: 6.5em;
}

.tri-state {
	width: 6em;
}

/*GUITAR  DETAILS
----------------------------------------------------------*/
#guitarModelName h1
{
	font-size: 18px;
	color: #C60F19;
	margin-left: 0.0em;
	margin-top: 10px;
}

#guitarDescription
{
	width: 550px;
	margin-top: 6px;
	clear: both;
	font-size: 11px;
	color: black;
}

#guitarMainImage
{
	float:right;
}

.guitarDescriptionContainer
{
	height:100%;
	overflow:auto;
}

.buttonAddToCart
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px;
	border: 1px;
	background: #999646;
	color: #F9FF82;
	font-weight: bold;
	float:left;
}

.buttonAddToCart a
{
	color: #F9FF82;
}

.desriptionHeaderContainer
{
	height:100%;
	overflow:auto;
}

.guitarDescriptionTabs
{
	position: relative;
	display: block;
	width: 40em;
	height: 24em;
	margin: 2em auto;
	float:left;
}

.guitarDescriptionTabs section
{
	position:absolute;
	display:block;
	top:1.8em;
	left:0;
	height:21em;
	width:35em;
	padding: 10px 20px;
	background-color:inherit;
	border-radius:5px;
	box-shadow:0 3px 3px rgba(0,0,0,0.1);
	z-index:0;
}

.guitarDescriptionTabs section:first-child
{
	z-index:1;
}

.guitarDescriptionTabs section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: inherit;
	background-color: inherit;
	border-radius: 5px 5px 0 0;
}

.guitarDescriptionTabs section:nth-child(2) h2  
{
	left: 132px;
}

.guitarDescriptionTabs section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

.guitarDescriptionTabs section:target,
.guitarDescriptionTabs section:target h2  
{  
	color: #F9FF82;
	background-color: #999646;
	z-index: 2;
}


.guitarDescriptionTabs section,  
.guitarDescriptionTabs section h2  
{  
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.priceContainer 
{
	font-size: 1.4em;
	color: #F55600;
}

/*.......................................... */


.navigationMenu
{
	float: left;
	position: relative;
	border: 1px solid gainsboro;
	margin: 0 0 10px 0;
	padding: 0;
	padding-bottom: 10px;
	/*background-color: white;*/
	overflow: hidden;
	width: 166px;
}

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	border: 1px;
	background: #999646;
	color: #F9FF82;
	font-weight: bold;
}

.button a
{
	color: #F9FF82 !important;
}

.brandCategory
{
	background-position: -430px -187px;
	font-size: 11px;
	padding-left: 10px;
	line-height: 12px;
	margin-bottom: 6px;
}

div.search
{
	background: url('/i/muztorg_sprite.png') left top;
	background-position: 0px -356px;
}

.search
{
	top: 88px;
	left: 276px;
	width: 400px;
	height: 50px;
}

.search .search_input
{
	position: absolute;
	top: 14px;
	left: 17px;
	width: 280px;
	padding-left: 3px;
}

.search_button
{
	position: absolute;
	top: 15px;
	right: 17px;
	background: url('/i/muztorg_sprite.png') no-repeat -240px -174px;
	text-indent: -999em;
	width: 71px;
	height: 20px;
	display: block;
	border: none;
	cursor: pointer;
}

.toCart
{
	margin-left: 19px;
	margin-top: 10px;
	display: block;
	background: url('/i/muztorg_sprite.png') no-repeat;
	background-position: -418px -301px;
	font-size: 10px;
	padding: 0 0 0 21px;
	text-decoration: underline;
	cursor: pointer;
}

.toCart:hover
{
	margin-left: 19px;
	margin-top: 10px;
	display: block;
	background: url('/i/muztorg_sprite.png') no-repeat;
	background-position: -420px -325px;
	font-size: 10px;
	padding: 0 0 0 21px;
	text-decoration: underline;
	cursor: pointer;
	color: #B00;
}