@model IEnumerable<GilbertMusicStore.Models.News>
@{
	ViewBag.Title = "Home Page";
}
<h2>Новости Gilbert Music Store</h2>
<img src="../../Content/Images/Rss.gif" alt="RSS новости" title="RSS новости" align="right">
<table>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<div class="news">
						<div class="newsTitle">@item.Title</div>
						<div class="newsDate">@item.Date</div>
						<div class="newsContent">@item.Content</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
