@{
    ViewBag.Title = "Добро пожаловать в админку!";
}
<h2>Добро пожаловать в админку!</h2>
<ul>
<li> @Html.ActionLink("Аккустические гитары", "index", "acousticguitar") </li>
<li> @Html.ActionLink("Полуаккустические гитары", "index", "semiacousticguitar") </li>
<li> @Html.ActionLink("Электрические гитары", "index", "electricguitar") </li>
</ul>